<main class="my-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Open mailbox</h2>
      
      <%= form_for(@mailbox, url: magic_path, html: { class: 'mt-4' }) do |f| %>
        <div class="form-group">
          <%= f.label :email, Mailbox.human_attribute_name(:email), class: 'sr-only' %>
          <%= f.email_field :email, placeholder: Mailbox.human_attribute_name(:email), class: 'form-control', autocomplete: :off, required: true %>
        </div>

        <div class="actions">
          <%= f.submit 'Open mailbox', class: 'btn btn-primary w-100' %>
        </div>
      <% end %>

    </div>
  </div>
</main>