<h1>Reset <%= t('app.title') %> Access Token</h1>
<p>Use the following link to reset your access token:</p>
<p><%= link_to reset_apply_url(token: @mailbox.reset_token), reset_apply_url(token: @mailbox.reset_token) %></p>
<p>Ignore this email if you did not perform this action.</p>