<div class="mt-4">
  <%= link_to 'New mailbox', new_mailbox_path, class: 'btn btn-secondary' unless current_page?(new_mailbox_path) %>
  <%= link_to 'Request magic link', magic_path, class: 'btn btn-secondary' unless current_page?(magic_path) %>
</div>
